@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.title:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 7px;
    width: 50px;
    height: 2px;
    background-color: #F28123;
    margin: 0 auto;
}

#dialog {
    animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
